/* BEGIN (write your solution here) */
.left-aside {
    width: 200px;
    min-height: 50vh;
    background: #d32f2f;
}

.content-side {
    flex-grow: 1; 
    min-height: 50vh;
    background: #388e3c;
}

.right-aside {
    width: 350px;
    min-height: 50vh;
    background: #1976d2;
}
/* END */

.d-flex {
  display: flex;
}